body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.calculator {
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

#display {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 20px;
    background-color: #262626;
    border: none;
    border-radius: 8px;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 30px;
    padding: 10px;
    border: none;
    background-color: #404040;
    color: white;
    border-radius: 20%;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

button:hover {
    background-color: #5a5a5a;
}

.operator {
    background-color: #ff9f33;
}

.operator:hover {
    background-color: #c9a30d;
}

#calculate {
    grid-column: span 4;
    border-radius: 20%;
    /* width: 100%; */
    background-color: #0a7013;
}

#calculate:hover {
    background-color: #0cda3c;
}
